@charset "ISO-8859-1";

#area1{
	float:right;
	border:solid;
	padding-left:1.8em;
	background-color:lightblue;
}

#button1{
	float:right;
	margin-left:89.5em; 
	padding-top:1em;
	padding-left:0em;
	border-left:solid;
	background-color:orange;
}

#footer_button{
	float:right;
	margin-left:87em; 
	padding-top:1em;
	border-left:solid;
	background-color:orange;
}


#signOut{
	float:right;
	margin-left:89em; 
	padding-top:1em;
	padding-left:0em;
	border-left:solid;
	background-color:orange;
}

#innerContent{
	margin-left:2em;
}

#content{
	float:right; 
	padding-bottom:150px;
}

#login_content{
	float:right; 
	padding-left:5em;
	padding-bottom:150px;
	margin-right:6em;
}


#page_content{
	float:right; 
	padding-left:5em;
	padding-bottom:150px;
	margin-left:7.90em;
}

#error{
	color:red;
}

#option
{
	border:solid;
	float:left;
	padding-top:13px;
	text-align:center;
	margin-top:2em;
}

#footer{
	float:right;
	border:solid;
	padding-left:1em;
	background-color:lightblue;"
}

#header
{
	text-decoration:underline;
}
#header_search
{
	text-decoration:underline;
	text-align:center;
}
#view {
	border:solid;
}   
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    
    .row.content {
    	height: 630px;
    	overflow:auto;
    }
    
   
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
      
    }
    
    footer {
      background-color: #ADD8E6;
      color: white;
      padding: 10px;
      
    }
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {
      	height:auto;
      	
      } 
    }
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
.navbar-custom {
    background-color: #ADD8E6;
}

.data h4, .data p
{
	display:inline;
}